body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#1e1e1e;
  color:white;
}

h1{
  text-align:center;
  margin-bottom:30px;
}

form{
  display:flex;
  gap:10px;
  justify-content:center;
  margin-bottom:30px;
}

input,textarea{
  padding:8px;
  border-radius:6px;
  border:1px solid #ccc;
}

button{
  background:#22c55e;
  border:none;
  padding:8px 16px;
  border-radius:6px;
  cursor:pointer;
  color:white;
}

button:hover{
  background:#16a34a;
}

.tablero{
  display:flex;
  gap:20px;
  padding:20px;
}

.columna{
  background:#d1d5db;
  padding:10px;
  border-radius:10px;
  width:220px;
}

.columna h3{
  text-align:center;
  color:black;
}

.tarea{
  background:white;
  padding:10px;
  border-radius:8px;
  margin-bottom:10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
}

.tarea strong{
  color:black;
  font-size:15px;
}

.tarea p{
  color:#444;
  font-size:13px;
}

.acciones{
  margin-top:8px;
  display:flex;
  gap:5px;
}

.acciones button{
  background:#3b82f6;
  padding:4px 10px;
}

.acciones button:hover{
  background:#2563eb;
}